.attribute {
	width: 320px;
	word-wrap: break-word;
}

.tile {
	width: 100%;
	display: inline-block;
	box-sizing: border-box;
	border-style: solid;
	padding: 20px;
	margin-bottom: 30px;
}

.title {
	margin-top: 0px;
}

#display_box {
	margin-top: 20px;
}