<div class="container">

<p id="notice"><%= notice %></p>

<% @products.each do |product| %>
  <%= link_to product do %>
    <div class="row">
      <div class="col-md-4">
          <div class="thumbnail">
            <%= image_tag 'https://s3-us-west-2.amazonaws.com/%s/uploads/product/images/%s/1%s' % [ENV['S3_BUCKET'], product.id, product.file_extension] %>
            <h4 class="title"><%= product.name %></h4>
            </div>
      </div>
    <% end %>
<% end %>

</div>

